.main-wrapper {
  margin-top: 60px;
  opacity: 1;
  transition: all 0.25s ease-in;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-height: auto;
  padding: 100px 0;
}

.banner-wrapper {
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  background: url(../assets/public/images/3626307.jpg) center center / cover no-repeat local;
}

* {
  outline: none;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.banner-wrapper .container {
  position: relative;
  z-index: 2;
}

.container, .container-sm, .container-md {
  max-width: 720px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.banner-wrapper h1 {
  font-size: 32px;
  line-height: 42px;
}

.banner-wrapper h1 {
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.text-white {
  color: #fff !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, .h1 {
  font-size: 2.25rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #121158;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
* {
  outline: none;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
hoja de estilo de user-agent
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.text-white {
  color: #fff !important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}
.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
* {
  outline: none;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
hoja de estilo de user-agent
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.banner-wrapper .hero-img {
  width: 80%;
  margin: 40px auto 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}

hoja de estilo de user-agent
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}













